### Importação das bibliotecas principais

In [34]:
import tensorflow as tf
from tensorflow import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense
from keras.utils.np_utils import to_categorical
from keras.callbacks import EarlyStopping

### Importação das bibliotecas auxiliares

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importação dos dados mnist

In [36]:
df = pd.read_csv('mnist.csv')

In [37]:
df.sample(10)

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
1449,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
813,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
312,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1416,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1977,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
534,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1438,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
524,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
#df.isna().any()# saida foi false

In [39]:
df.columns

Index(['5', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.608', '0.609', '0.610', '0.611', '0.612', '0.613', '0.614', '0.615',
       '0.616', '0.617'],
      dtype='object', length=785)

In [40]:
df['5'].unique()

array([4, 3, 0, 2, 8, 1, 6, 9, 7, 5])

### Separação dos dados em features e target

In [41]:
features = df.drop(['5'],axis=1)

In [42]:
features.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
features.shape

(2000, 784)

In [44]:
target = to_categorical(df['5'])

In [45]:
target

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [46]:
target.shape

(2000, 10)

In [47]:
input_shape = features.shape[1:]
input_shape

(784,)

### 1 camada escondida com 50 neurônios

In [61]:
def get_new_model_relu(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape = input_shape)) 
    model.add(Dense(10, activation='softmax'))
    return(model)
def get_new_model_tanh(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(50, activation='tanh', input_shape = input_shape)) 
    model.add(Dense(10, activation='softmax'))
    return(model)

### Funções de ativação tanh e relu na sua arquitetura e comparação dos resultados variando a taxa de aprendizagem para otimizar o modelo

### Variação de parâmetros para ajuste

#### Aumentar a capacidade: neurônios

In [64]:
def get_new_model_relu(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(200, activation='relu', input_shape = input_shape))
    model.add(Dense(10, activation='softmax'))
    return(model)
def get_new_model_tanh(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(200, activation='tanh', input_shape = input_shape))
    model.add(Dense(10, activation='softmax'))
    return(model)

#### Aumentar a capacidade: camadas ocultas

In [67]:
def get_new_model_relu(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(200, activation='relu', input_shape = input_shape))
    model.add(Dense(200, activation='relu'))
    model.add(Dense(10, activation='softmax'))
    return(model)
def get_new_model_tanh(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(200, activation='tanh', input_shape = input_shape))
    model.add(Dense(200, activation='tanh'))
    model.add(Dense(10, activation='softmax'))
    return(model)

#### Teste do modelo:

In [68]:
print('Modelo com RELU:')
lr_to_test = [.000001, 0.01, 1.1]
print('ADAM:')
# loop over learning rates
for lra in lr_to_test:
    opt = keras.optimizers.Adam(learning_rate=lra)
    model = get_new_model_relu()
    print('Learning Rate:', lra)
    model.compile(optimizer=opt,loss='categorical_crossentropy',metrics='accuracy') 
    model.fit(features, target)

print('Stocastic Gradient Descent:')
# loop over learning rates
for lrs in lr_to_test:
    opt = keras.optimizers.SGD(learning_rate=lrs)
    model = get_new_model_relu()
    print('Learning Rate:', lrs)
    model.compile(optimizer=opt,loss='categorical_crossentropy',metrics='accuracy') 
    model.fit(features, target)

Modelo com RELU:
ADAM:
Learning Rate: 1e-06
63/63 [==============================] - 1s 4ms/step - loss: 90.2742 - accuracy: 0.1535
Learning Rate: 0.01
63/63 [==============================] - 1s 4ms/step - loss: 57.2369 - accuracy: 0.3095
Learning Rate: 1.1
63/63 [==============================] - 1s 5ms/step - loss: 934721.4375 - accuracy: 0.0940
Stocastic Gradient Descent:
Learning Rate: 1e-06
63/63 [==============================] - 1s 4ms/step - loss: 107.5613 - accuracy: 0.0880
Learning Rate: 0.01
63/63 [==============================] - 1s 4ms/step - loss: 11604620386801720359618024046592.0000 - accuracy: 0.1115
Learning Rate: 1.1
63/63 [==============================] - 1s 4ms/step - loss: 6182445971931136.0000 - accuracy: 0.1050

In [69]:
print('Modelo com TANH:')
lr_to_test = [.000001, 0.01, 1.1]
print('ADAM:')
# loop over learning rates
for lra in lr_to_test:
    opt = keras.optimizers.Adam(learning_rate=lra)
    model = get_new_model_tanh()
    print('Learning Rate:', lra)
    model.compile(optimizer=opt,loss='categorical_crossentropy',metrics='accuracy') 
    model.fit(features, target)

print('Stocastic Gradient Descent:')
# loop over learning rates
for lrs in lr_to_test:
    opt = keras.optimizers.SGD(learning_rate=lrs)
    model = get_new_model_tanh()
    print('Learning Rate:', lrs)
    model.compile(optimizer=opt,loss='categorical_crossentropy',metrics='accuracy') 
    model.fit(features, target)

Modelo com TANH:
ADAM:
Learning Rate: 1e-06
63/63 [==============================] - 1s 4ms/step - loss: 2.5459 - accuracy: 0.0980
Learning Rate: 0.01
63/63 [==============================] - 1s 5ms/step - loss: 1.4586 - accuracy: 0.5085
Learning Rate: 1.1
63/63 [==============================] - 1s 9ms/step - loss: 191.0683 - accuracy: 0.0900: 0s - loss: 227.6378 - accura
Stocastic Gradient Descent:
Learning Rate: 1e-06
63/63 [==============================] - 1s 4ms/step - loss: 2.6622 - accuracy: 0.0620
Learning Rate: 0.01
63/63 [==============================] - 1s 5ms/step - loss: 1.6789 - accuracy: 0.4470
Learning Rate: 1.1
63/63 [==============================] - 1s 5ms/step - loss: 88.3570 - accuracy: 0.0995

In [147]:
model.save('model_file.h5')